<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/tetris.css" />
 <meta name="viewport" content="width=device-width, maximum-scale=1, user    -scalable=no" />

 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />-->
    <title>Blog</title>
  </head>
  <body>
    <div class="flex-grid-thirds">
      <div class="col gutter">
        <!-- Left gutter -->
      </div>

      <div class="col main">
        <h4>
          <a class="menu link" href="/posts">Posts</a> 
          <a class="menu link" href="/projects">Projects</a> 
          <a class="menu link" href="/about">About</a>  
          <a class="menu link" href="/resume">Resume</a>
        </h4>

        <% errors.forEach(function(error) { %>
        <%= error %>
        <% }) %>

        <% infos.forEach(function(info) { %>
        <%= info %>
        <% }) %>
