<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/tetris.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>Blog</title>
  </head>
  <body>
    <div class="ui stackable grid">

      <div class="two wide column">
        <!-- placeholder -->
      </div>

      <div class="twelve wide column">

        <h1>
          Welcome to Lachlan's Blog
        </h1>

        <h4>
          <a href="/posts">Posts</a> | 
          <a href="/projects">Projects</a> | 
          <a href="/about">About</a> | 
          <a href="/resume">Resume</a>
        </h4>

        <% errors.forEach(function(error) { %>
        <%= error %>
        <% }) %>

        <% infos.forEach(function(info) { %>
        <%= info %>
        <% }) %>

        <!--<div class="container">-->
