<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user        -scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

  <title></title>
</head>
<body>
  <div id="app"></div>

  <script type="text/javascript" src="/date.js"></script>
</body>
</html>
