body {
  font-size: 150%; !important;
  font-family: "Courier New", monospace !important;
  line-height: 1.6875;
}
/*
@media only screen and (max-width: 400px) {
  body { font-size:120%; }
}

@media only screen and (max-width: 800px) {
  body { font-size:160%; }
} 

@media only screen and (max-width: 1100px) {
  body { font-size:180%; }
}

@media only screen and (min-width: 1100px) {
  body { font-size:200%; }
}
*/
h1, h2, h3, h4, h5 {
  text-align: center;
}
.admin.panel {
  text-align: right;
}

.justified {
  white-space: pre-wrap; 
  text-align: justify;
}

.bottom-padded { 
  margin-bottom: 1em;
}

.text-large {
  font-size: 3em;
}

.text-medium {
  font-size: 2em;
}

.full-width {
  width: 100%;
}
