<% include ../_header %>

<div class="container">
  <a href="projects/tetris">
    Tetris (click to play)
  </a>
  <p class="indented paragraph">
  A tetris clone build using Vue.js, and test driven development. <br /><a href="https://github.com/lmiller1990/vue-tetris">View on Github.</a>
  </p>
</div>

<% include ../_footer %>

