<% include ../_header %>

<div id="app"></div>

<script type="text/javascript" src="/tetris_manifest.js"></script>
<script type="text/javascript" src="/tetris_vendor.js"></script>
<script type="text/javascript" src="/tetris_app.js"></script>

<% include ../_footer %>

