<% include ../_header %>
  <div class="container">
    <h2>All Posts</h2>
    <% posts.forEach((post) => { %>
      <h3>
        <%= post.title %>
      </h3>
      <div class="justified"><%= post.body %></div>
    <% }) %>
  </div>
<% include ../_footer %>
