<% include ../_header %>

<div class="container">
  <% posts.forEach((post) => { %>
    <a class="inlined text-large" href="<%='posts/' + post.id %>">
      <%= post.title %>
    </a> 
    <div class="inlined text-medium"> 
      <%= moment(post.createdAt).format('MMM YYYY') %> 
    </div>
    <div class="text-medium">
      <%= post.preview %>
    </div><br />
  <% }) %>
</div>

<% include ../_footer %>


