<% include ../_header %>
  <div class="container">
    <% posts.forEach((post) => { %>
    <%= moment(post.createdAt).format('MMM YYYY') %>
    <a href="<%='posts/' + post.id %>">
      <%= post.title %>
    </a> 
    <p>
      <%= post.preview %>
    </p>
    <br />
    <% }) %>
  </div>
<% include ../_footer %>


