<% include ../_header %>

<div class="container">
  <div class="centered text-large">
    <%= post.title %>
  </div>
  <div class="justified text-medium">
    <% post.body.split("\n").forEach((line) => { %>
      <%= line %> <br />
    <% }) %>
  </div>
  <% if (currentUser) { %>
  <a class="right-floated" href='/posts/edit/<%= post.id %>'>Edit</a>
  <% } %>
</div>

<% include ../_footer %>

