<% include ../_header %>

<div class="container">
  <h4>
    <%= title %>
  </h4>
  <div class="justified"><%= content %>
  </div>
</div>

<% if (currentUser) { %>
<a class="right-floated" style="padding-left: 0.5em" href='/posts/edit/<%= id %>'>Edit Post</a>
<% } %>
<% include ../_footer %>

